<footer>
  <div class="footer-tree">
    <a href="https://github.com/kaar07">
      <img src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/github.svg" alt="github">
    </a>
    <a href="https://twitter.com/imkaar07">
      <img src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/twitter.svg" alt="twitter">
    </a>
    <a href="https://in.linkedin.com/in/kaarthik-suryanarayanan-8602761ba">
      <img src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/linkedin.svg" alt ="linkedin">
    </a>
  </div>
</footer>
