*{
  margin : 0px;
  padding : 0px;
  box-sizing : border-box;
}

body{
  background-color: white;
  background-size: cover;
}

.main-content{
  background-color: white;
}
.intro-content{
  display: inline-block;
  font-family: 'Maven Pro', sans-serif;
  font-size: 2em;
  text-align: left ;
}

.name-heading{
  font-family: 'Poppins', sans-serif;
}

.link-tree{
  display: flex;
  flex-direction: column;
  align-content: center;
  font-family: 'Poppins', sans-serif;
}

.image-main{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.listings{
  display: flex;
  justify-content: center;
  align-items:center;
  text-align: left;
  text-transform: capitalize;
  height:400px;
}

.listings a{
  text-decoration: None;
  font-family: 'Poppins','sans-serif';
  font-size: 20px;
  color: black;
}

.centrify{
  text-align: center;
}
<<<<<<< HEAD

.centrify h1{
=======
.centrify h{
>>>>>>> 8fd3d7e651065d33e878f48a1e2ffb8844eb97b2
  text-align: left;
}
