*{
  margin : 0px;
  padding : 0px;
  box-sizing : border-box;
}

html,body{
  overflow-x:hidden;
  overflow-y: scroll;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #282828;
  font-family: 'Poppins', sans-serif;
}

.logo{
  font-size: 1.5rem;
  color : grey;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.nav-links a{
  color: white;
  text-decoration: None;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size:1.5rem;
}

.nav-links li{
  list-style: None;
}

.burger {
  display: None;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.2s ease;
}

@media screen and (max-width: 1000px){
  .nav-links{
    width: 80%;
  }
  .nav-links li a{
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 760px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top:8vh;
    background-color: #282828;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateY(-110%);
    transition: transform 0.25s ease-in;
    opacity: 90%;
  }
  .nav-links li{
    opacity: 0;
  }
  .nav-links li a{
    font-size: 2rem;
  }

  .burger{
    display: block;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}

.footer-tree{
  text-align: center;
  padding: 3em;
}
.footer-tree a img{
  height: 40px;
  width: 40px;
}
