.post-title{
  font-family:'Patua One',sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-left: 5%;
  margin-right: 3%;
  padding-top:2%;
  padding-bottom: 2%;
}

.postpattern{
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: 15%;
  margin-right: 15%;
}

.postpattern ul,ol{
  margin-left: 5%;
  margin-right: 5%;
}

.content{
  padding: 2em 3em 3em 2em;
}

blockquote{
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
}

table{
  margin-left: auto;
  margin-right: auto;
}

code{
  margin-left: 15%;
  margin-right: 15%;
}

@media screen and (max-width: 400px){
  body{
    overflow-x: hidden;
  }
  .postpattern{
    margin-left: 0;
    margin-right: 0;
  }
  .postpattern ul{
    margin-left: 0;
    margin-right: 0;
  }
  .postpattern ul li{
    padding: 0;
  }
  .postpattern ul li a{
    font-size: 1.5rem;
    padding: 0;
  }
  .postpattern ol li a{
    font-size: 1.5rem;
    padding: 0;
  }
  .content{
    text-align: left;
  }
  .postpattern h3{
    text-align: left;
  }
}
