---
common-css:
  - "/assets/css/barbased.css"
  - "/assets/css/jek.css"
common-js:
  - "/assets/js/barbased.js"
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    {% include bloghead.html %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <title>{{ page.title }}</title>
  </head>



  <body>
    <!-- navigation bar and related stuff  -->
    <nav>
      <div class="logo">
        <h3>SUM ERGO COGITO - COGITO ERGO SUM</h3>
      </div>
      <ul class="nav-links">
        <li>
          <a href="/"> Home </a>
        </li>
        <li>
          <a href="kaar07.github.io/postindex.html"> Posts </a>
        </li>
        <li>
          <a href="https://kaar07.github.io/tolindexpage.html"> T-O-L</a>
        </li>
        <li>
          <a href="https://kaar07.github.io/about.html"> About me</a>
        </li>
      </ul>
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>
    <script src="/assets/js/barbased.js"></script>
    <!-- navigation bar ends -->
    {{ content }}
  </body>
</html>
