---
common-css:
  - "/assets/css/barbased.css"
  - "/assets/css/jek.css"
common-js:
  - "/assets/scripts/barbased.js"
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/barbased.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <title>{{ page.title }}</title>
  </head>

  <body>
    <!-- nav bar starts here -->
    <nav>
      <ul class="nav-links">
        <li>
          <a href="/"> Home </a>
        </li>
        <li>
          <a href="kaar07.github.io/postindex.html">All Posts </a>
        </li>
      </ul>
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>
    <script src="/assets/app.js"></script>
    <!-- nav bar ends here -->
    {{ content }}

  </body>
</html>
