---
common-css:
  - "/assets/css/barbased.css"
  - "/assets/css/jek.css"
common-js:
  - "/assets/js/barbased.js"
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">

    {% include bloghead.html %}
    <title>{{ page.title }}</title>
  </head>

  <body>
    <!-- nav bar starts here -->
    <nav>
       <div class="logo">
        <h3>On my pursuit</h3>
      </div>

      <ul class="nav-links">
        <li>
          <a href="https://kaar07.github.io"> Home </a>
        </li>
        <li>
          <a href="https://kaar07.github.io/allposts.html"> Posts </a>
        </li>
      </ul>
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>
    <script src="/assets/js/barbased.js"></script>
    <!-- nav bar ends here -->
    <div class="postpattern">
      <div class="post-title">
        <strong>{{ page.title }}</strong>
      </div>
      <hr />
      <div class="content">
        {{ content }}
      </div>
    </div>
    <hr />
    {% include footer.html %}
  </body>
</html>
